<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Word List</h1>
    <ul>
        <% for (let i=0; i<data.length; i++) {%>
            <li class="word"> 
                <span><%= data[i].word %></span>
                <span class="del">(delete)</span>
            </li>
        <% } %>            
    </ul>
    <span>Add words</span>
    <form action="/addWord" method="POST">
        <input type="text" placeholder="Enter word" name="word">
    </form>
    <script src="main.js"></script>
</body>
</html>